﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>MovieApp</title>
</head>
<body>
    <noscript>
        <strong>We're sorry but MovieApp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <header>
        <h1>Mina filmer</h1>
    </header>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <footer>
        <p>Skapad av: Marie Gillblad</p>
    </footer>
</body>
</html>
