﻿<template>
    <div>
        <h1>Lägg till film</h1>
        <form id="app"
              @submit="addMovie"
              novalidate>
            <p v-if="errors.length">
                <ul>
                    <li v-for="error in errors" :key="error">{{ error }}</li>
                </ul>
            </p>

            <div class="form-input">
                <label for="title">Titel</label>
                <input type="text" placeholder="Titel" autofocus id="title" v-model="title" />
            </div>
            <div class="form-input">
                <label for="category">Genre</label>
                <input type="text" placeholder="Genre" id="category" v-model="category" />
            </div>
            <div class="form-input">
                <label for="poster">Poster url</label>
                <input type="text" id="poster" v-model="poster" />
            </div>

            <div class="buttons">
                <router-link to="/Home" tag="button">Avbryt</router-link>
                <input type="submit"
                       value="Lägg till">
            </div>

        </form>

    </div>
</template>

<script>
    export default {
        name: 'AddMovie',
        data() {
            return {
                errors: [],
                title: null,
                category: null,
                poster: null
            }
        },
        methods: {
            addMovie: function (e) {
                e.preventDefault();

                this.errors = [];
                if (!this.title) {
                    this.errors.push('Titel krävs');
                    return;
                }

                let movie = {
                    Title: this.title,
                    Category: this.category,
                    PosterUrl: this.poster
                };

                fetch(process.env.VUE_APP_MOVIE_API_BASE_URL + '/add', {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'omit',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(movie)
                })
                    .then(response => {
                        if (response.status === 200) {
                            this.$router.go(-1);
                        }
                        if (response.status === 500) {
                            throw new Error('Något gick fel, försök igen');
                        }
                    })
                    .catch((error) => {
                        this.errors.push(error.message);
                    });
            }
        }
    };
</script>

<style scoped>
    
    .form-input{
        display:flex;
        justify-content: space-between;
        min-width: 300px; 
        max-width: 300px; 
        margin-bottom: 2em;
    }

    .buttons > * {
        margin-right: 2em; 
    }

</style>