<template>
    <div class="home">
        <h1>{{ msg }}</h1>
        
        <Movies>


        </Movies>
    </div>


</template>

<script>
    import Movies from './Movies.vue';

    export default {
        name: 'Home',
        props: {
            msg: String
        },
        components: {
            Movies
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    th {
        text-align: left
    }

    table {
        margin-top: 1em;
        width: 800px; 
    }

    th, td {
        padding-bottom: 0.5em;
    }

    .delete-button {
        background-color: #FB6376;
    }

    home {
        
    }


</style>
