﻿<template>
    <div>
        <div class="search-selectview">
            <input type="text" v-model="search" placeholder="Sök film" />
            <div class="view-selection">
                <button @click="movieView = 'List'">Lista</button>
                <button @click="movieView = 'Poster'">Posters</button>
            </div>
        </div>

        <p v-if="errors.length">
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
            </ul>
        </p>

        <ul v-if="movieView == 'Poster'" class="poster-view">
            <li v-for="(movie, index) in movies" :key="index" class="large-poster">
                <img alt="Filmaffisch" :src="movie.posterUrl !== null ? movie.posterUrl : '@/assets/default-movie.png'" @error="defaultImage"/>
                <p>{{movie.title}}</p>

            </li>
        </ul>
        <div v-if="showDeleteDialog" class="delete-dialog">
            <div>
                <p>Vill du ta bort filmen {{movieToDelete.title}}?</p>
                <div class="delete-dialog-buttons">
                    <button @click="closeDeleteDialog()">Avbryt</button>
                    <button @click="deleteMovie(movieToDelete.id)" class="delete-button">Ta bort</button>
                </div>
            </div>
        </div>
        <div v-if="movieView == 'List'" class="list-view">
            <router-link to="AddMovie" tag="button">Lägg till</router-link>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Titel</th>
                        <th>Genre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(movie) in movies" :key="movie.id">
                        <td><img class="poster" :src="movie.posterUrl" /></td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.category }}</td>
                        <td><router-link :to="{name:'editmovie', params:{id:movie.id, title:movie.title, category:movie.category, poster: movie.posterUrl}}" tag="button">Ändra</router-link></td>
                        <td><button class="delete-button" v-on:click="confirmDeleteMovie(movie)">Ta bort</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</template>

<script>

    function Movie(id, title, category, posterUrl) {
        this.id = id;
        this.title = title;
        this.category = category;
        this.posterUrl = posterUrl;
    }

    import defaultPoster from '@/assets/default-movie.png';

    export default {
        name: 'Movies',
        data() {
            return {
                movieView: "List",
                errors: [],
                movies: Array[Movie],
                search: '',
                showDeleteDialog: false,
                movieToDelete: null
            }
        },

        created() {
            this.getMovies();
        },

        methods: {
            defaultImage(event) {
                event.target.src = defaultPoster;
            },

            getMovies: function (query) {
                this.errors = [];

                let queryString = "";
                if (query) {
                    queryString = "?query=" + query;
                }
                fetch(process.env.VUE_APP_MOVIE_API_BASE_URL + '/list' + queryString)
                    .then(response => {
                        if (response.status === 200) {
                            return response.json();
                        }
                        else {
                            throw new Error('Kunde inte hämta filmer');
                        }
                    })
                    .then(json => {
                        this.movies = json;
                    })
                    .catch((error) => {
                        this.errors.push(error.message);
                    });
            },

            confirmDeleteMovie: function (movie) {
                this.showDeleteDialog = true;
                this.movieToDelete = movie;
            },

            closeDeleteDialog: function () {
                this.showDeleteDialog = false;
            },

            deleteMovie: function (id) {

                this.errors = [];

                fetch(process.env.VUE_APP_MOVIE_API_BASE_URL + '/delete/' + id, {
                    method: 'DELETE',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'omit',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer'
                })
                    .then(response => {
                        if (response.status === 200) {
                            // uppdatera array så att filmen försvinner
                            let index = this.movies.findIndex(b => b.id === id);
                            if (index > -1) {
                                this.$delete(this.movies, index);
                            }
                        }
                        if (response.status === 404) {
                            throw new Error('Hittade inte filmen ');
                        }
                        if (response.status === 500) {
                            throw new Error('Något gick fel, försök igen');
                        }
                    })
                    .catch((error) => {
                        this.errors.push(error.message);
                    });

                this.closeDeleteDialog();
            }

        },

        watch: {
            search: function () {
                if (this.search && this.search.length > 1) {
                    this.getMovies(this.search);
                }
                else if (!this.search) {
                    this.getMovies();
                }
            }
        }
    }
</script>


<style lang="scss" scoped>

    .list-view {
        margin-top: 1em;
    }

    th {
        text-align: left;
        text-decoration: underline;
        font-size: 1.2rem;
    }

    table {
        margin-top: 3em;
        width: 800px;
    }

    th, td {
        padding-bottom: 0.5em;
    }

        td > button {
            float:right;
        }

    .poster {
        height:3em; 
        width: auto; 
    }

        .poster:hover {
            transform: scale(2.0);
        }

    ul.poster-view {
        list-style:none;
        padding: 0;
    }

        .poster-view li {
            display: inline-block;
        }

    .large-poster img {
        height: 300px;
        width: auto;
        border-radius: 0.1em; 
    }

    .large-poster {
        margin: 0 2em 1em 0;
        min-width: 202px;
    }

        .large-poster p {
            margin-top: 0.2em;
            font-size: 0.75rem;
        }

    .search-selectview {
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .view-selection > * {
        margin-left: 1em;
    }

    .delete-button {
        color: $primary-color;
        border-color: $secondary-color;
        background-color: $primary-action-color;
    }

    .delete-dialog {
        position:fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.6);
        z-index: 1000;
    }

    .delete-dialog > div {
        background-color: $highlight-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: auto;
        border: 1px solid $highlight-color;
        border-radius: 0.3em;
        text-align: center;
        padding: 1.5em;
        z-index: 1001; 
    }

    .delete-dialog-buttons {
        display:flex; 
        flex-direction:row;
        justify-content:space-evenly;

    }
</style>