<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
    import Home from './components/Home.vue';

    export default {
        name: 'app',
        components: {
            Home
        }
    };
</script>

<style lang="scss">
    body {
        background-color: $secondary-color;
        margin: 0;
        height: 100vh;
        font-size:16px;
    }

    body, button {
        color: $primary-color;
    }

    input, select {
        color: $secondary-color;
    }

    #app {
        max-width: 1200px; 
        margin: auto; 
        margin-bottom: 6em;
    }

    label {
        font-weight: bold;
        height: 2em;
        line-height: 2em;
    }

    button, input[type="submit"] {
        border: none;
    }

    button, input {
        padding: 0.5em 1.5em;
        border-radius: 0.3em;
        border-width: 1px;
    }

    input[type="submit"] {
        background-color: $primary-action-color;
        border-color: $primary-action-color;
        color: $primary-color;
    }

    button {
        background-color: $secondary-action-color;
        border-color: $secondary-action-color;
        color: $primary-action-color;
    }

    header {
        height: 5em;
        width: 100%;
        background-color: $primary-color;
    }

    header h1 {
        color: $secondary-color;
        text-align:center;
        font-size: 2em; 
        margin:0;
        padding-top: 0.5em; 
    }

    footer {
        width: 100%;
        height: 3em;
        background-color: $secondary-color;
        color: black;
    }

        footer p {
            margin: 1em auto;
            width: 25em;
            text-align: center;
            font-size: 0.75rem;
            color: $primary-color;
        }



</style>